@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@font-face {
	src: url('../fonts/FuturaLT.ttf');
	font-family: FuturaLT;
}

body {
	margin: 0%;
}
.container {
	width: 1230px;
	margin: 0px auto;
}
.site-nav {
	border-bottom: 6px solid;
    border-color: #C99900;
}
.site-nav-ul ul {
	list-style: none;
	margin: 0;
    padding: 0px;
    text-align: right;
    
}
.site-nav-ul ul li {
	padding: 20px;
	display: inline-block;

}
.site-nav-ul ul li a {
	text-decoration: none;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 16px;
    color: #C99900;
    font-weight: 500;
    font-family: FuturaLT;

}
.home-banner > img {
	width: 100%;
}
.banner-content {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1230px;
    margin: 0px auto;
    display: grid;
    align-items: center;
    bottom: 0px;
}
.banner-tag {
	width: 460px;
	margin: 0px auto;
}
.banner-tag img {
	width: 100%;
}
.banner-social {
	position: absolute;
    right: 0px;
}
.home-banner {
	position: relative;
}
.home-about-text h2:after{
	content: '';
    background-color: #C99900;
    width: 17%;
    height: 5px;
    display: block;

}
.clear {
	clear: both;
}
.home-about-text {
	width: 70%;
    float: left;
}
.home-about-img {
	width: 30%;
	float: right;
    padding-top: 131px;	
}

.home-about-pera {
	padding-right: 50px;
}
.home-about-pera p {
	font-size: 18px;
    letter-spacing: 3px;
    font-family: FuturaLT;
    line-height: 32px;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 18px;
}
.about-main {
	display: flex;
	align-items: center;
}
.home-about-text a {
	text-decoration: none;
	font-size: 16px;
	color: black;
	font-family: FuturaLT;
}
.home-about-text a:after{
	    content: '';
    background-color: #C99900;
    width: 36px;
    height: 5px;
    display: block;   
}
.home-about-text h2 {
	    font-family:  FuturaLT;
    font-size: 22px;
     font-weight: unset;
}
.home-about-section {
	padding-top: 100px;
}
.home-about-pera span {
	color: #C99900;
	text-transform: uppercase;
}
.home-about-border {
	border-bottom: 4px solid;
    padding-bottom: 12px;
    border-color: #C99900;
}
.img-bond {
	width: 15%;
    margin:0px auto;
    display: inline-block;
   
}
.img-wellcome {
	width: 18%;
	margin: 0px auto;
    display: inline-block;
}
.img-cepi {
	width: 19%;
	margin: 0px auto;
    display: inline-block;
}
.img-one {
	width: 13%;
	margin: 0px auto;
    display: inline-block;
}
.img-ibt {
	width: 14%;
	argin: 0px auto;
    display: inline-block;
}
.img-theirworld {
	width: 15%;
	margin: 0px auto;
    display: inline-block;
}
.our-client-text h2:after{
    content: '';
    background-color: #C99900;
    width: 154px;
    height: 5px;
    display: block;   
}
.our-client-text a:after{
	content: '';
    background-color: #C99900;
    width: 49px;
    height: 5px;
    display: block;   
}
.our-client-para {
	    width: 67%;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: FuturaLT;
    line-height: 32px;
}
.our-client-text h2 {
	    font-size: 22px;
    letter-spacing: 3px;
     font-family: FuturaLT;
}    
.our-client-text a {
	text-decoration: none;
    font-size: 18px;
    font-family: FuturaLT;
    color: black;
}


.our-client-img div {

}
.testimonial-main {
	margin-top: 170px;
}
.testimonial-main .testimonial {
	width: 800px;
    margin: 0px auto;
    text-align: center;
    font-family: FuturaLT;
}
.testimonial-main .testimonial p:after {
    content: '';
    background-color: #C99900;
    width: 40px;
    height: 2px;
    display: block;
    margin: 0px auto;
    transform: rotate(-90deg);
    margin-top: 50px;
}
.testimonial-main .testimonial h3{
	margin-top: 50px;
}
.img-bond img {
	max-width: 100%;
    height: auto;
}
.img-wellcome img {
	max-width: 100%;
    height: auto;
}
.img-cepi img {
	max-width: 86%;
    height: auto;
}
.img-one img {
    max-width: 100%;
    height: auto;
}
.img-ibt img {
	max-width: 100%;
    height: auto;
}
.img-theirworld img {
	max-width: 100%;
    height: auto;
}
.our-client-img {
	margin-top: 85px
}
.testimonial p {
  font-size: 18px;
    font-family: 'FuturaLT';
    line-height: 31px;
    color: #C99900;
}
.testimonial h3 {
	font-size: 18px;
    text-transform: uppercase;
    font-family: 'FuturaLT';
    letter-spacing: 4px;
}
.testimonial h2 {
	font-size: 22px;
    font-family: 'FuturaLT';
    color: #C19733;
    letter-spacing: 5px;
}
.testimonial span {
	font-size: 18px;
    word-spacing: 4px;
    font-family: 'FuturaLT';
}
.home-ourclient-section {
	margin-top: 122px;
}
.home-public-affairs {
    width: 30%;
    display: inline-block;
    float: left;
    line-height: 35px;
}
.home-policy-research {
    width: 30%;
    display: inline-block;
    line-height: 35px;
    margin-left: 55px;
}
.home-training {
    width: 30%;
    display: inline-block;
    float: right;
    margin-top: 7px;
}
.home-public-affairs h2 {
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'FuturaLT';
    color: #C99900;
}
.home-public-affairs p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'FuturaLT';
    margin-right: 21px;
}
.home-policy-research h2 {
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'FuturaLT';
    color: #C99900;
}
.home-policy-research p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'FuturaLT';
    margin-right: 37px;
}
.home-training h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    color: #C99900;
}
.home-training p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'FuturaLT';
    margin-right: 7px;
}
.home-servies-tag h2 {
    font-family: 'FuturaLT';
    font-size: 22px;
    letter-spacing: 5px;
}
.home-servies-tag a {
    text-decoration: none;
    font-family: 'FuturaLT';
    font-size: 16px;
    letter-spacing: 4px;
    color: #000000;
}
.home-servies-tag h2:after{
    content: '';
    background-color: #C99900;
    width: 140px;
    height: 5px;
    display: block;   
}
.home-servies-tag a:after{
    content: '';
    background-color: #C99900;
    width: 65px;
    height: 5px;
    display: block;   
}
.home-services-section {
    margin-top: 150px;
}
.home-servies-tag {
    margin-bottom: 28px;
}
.home-public-affairs img {
   margin-left: 225px;
    margin-top: -109px;
    max-width: 120px;
}
.home-policy-research img {
    margin-left: 267px;
    margin-top: -120px;
    max-width: 120px;
}
.home-training img {
    margin-left: 266px;
    margin-top: -63px;
    max-width: 120px;
}
.home-events {
    width: 32%;
    display: inline-block;
    margin-left: 170px;
    margin-top: 55px;
}
.home-resource-mobilisation {
    width: 41%;
    display: inline-block;
    margin-left: 150px;
    height: 312px;
}
.home-events h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    color: #C99900;
}
.home-events p {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 2px;
    line-height: 30px;
    margin-right: 102px;
}
.home-events img {
    margin-left: 171px;
    margin-top: -93px;
    max-width: 120px;
    display: inline-block;
    margin-bottom: 0px;
}
.home-resource-mobilisation h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    color: #C99900;
    letter-spacing: 10px;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 47px;
}
.home-resource-mobilisation p {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 3px;
    line-height: 35px;
    margin-right: 123px;
}
.home-resource-mobilisation img {
    max-width: 120px;
    margin-left: 310px;
    margin-top: -120px;
    display: inline-block;
}
.home-banner2 img {
    width: 100%;
}
.home-banner2-text {
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    display: grid;
}
.home-banner2 {
    position: relative;
    margin-top: 155px;
}
.home-banner2-text h2 {
    color: #fff;
    font-size: 45px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    text-transform: uppercase;
}
.newz-and-storie-event {
    width: 30%;
    display: inline-block;
    margin: 15px;
}
.newz-and-storie-story {
    width: 30%;
    display: inline-block;
    margin: 15px;
}
.newz-and-storie-featured {
    width: 30%;
    display: inline-block;
    margin: 15px;
}
.stories-tag h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 18px
}
.stories-tag h2:after{
    content: '';
    background-color: #C99900;
    width: 132px;
    height: 5px;
    display: block;
}
.stories-tag {
    margin-top: 170px;
    margin-bottom: 50px;
}
.newz-and-storie-event h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 10px;
    line-height: 30px;
}
.newz-and-storie-event h3 {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 11px;
    color: #C99900;
    padding-bottom: 33px;
}
.newz-and-storie-event P {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    line-height: 30px;
}
.newz-and-storie-event P:before{
    content: '';
    background-color: #C99900;
    width: 195px;
    height: 5px;
    display: block;
    margin-bottom: 20px;
}
.newz-and-storie-event a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 3px;
    position: relative;
}
.newz-and-storie-event  a:after{
    content: '';
    background-color: #C99900;
    width: 79px;
    height: 5px;
    display: block;
    position: absolute;
    transition: 1s;
    right: 0px;
}

.newz-and-storie-event:hover a:after {
    width: 100%;
}
.newz-and-storie-story h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 7px;
    line-height: 30px;
}
.newz-and-storie-story h3 {
    font-size: 18px;
    font-family: 'FuturaLT';
    color: #C99900;
    letter-spacing: 7px;
    padding-bottom: 10px;
}
.newz-and-storie-story p {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 4px;
    line-height: 30px;
}
.newz-and-storie-story a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'FuturaLT';
    color: #000000;
    letter-spacing: 3px;
    position: relative;
}
.newz-and-storie-story p:before{
    content: '';
    background-color: #C99900;
    width: 195px;
    height: 5px;
    display: block;
    margin-bottom: 44px;
}
.newz-and-storie-story a:after{
    content: '';
    background-color: #C99900;
    width: 79px;
    height: 5px;
    display: block;
    position: absolute;
    transition: 1s;
    right: 0px;
}
.newz-and-storie-story:hover a:after{
    width: 100%;
}
.newz-and-storie-featured h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
}
.newz-and-storie-featured h3 {
    font-size: 18px;
    font-family: 'FuturaLT';
    color: #C99900;
    letter-spacing: 7px;
    margin-bottom: 40px;
}
.newz-and-storie-featured p {
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    line-height: 30px;
}
.newz-and-storie-featured a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'FuturaLT';
    letter-spacing: 3px;
    color: #000000;
    position: relative;
}
.newz-and-storie-featured p:before{
    content: '';
    background-color: #C99900;
    width: 195px;
    height: 5px;
    display: block;
    margin-bottom: 30px;
}
.newz-and-storie-featured a:after{
    content: '';
    background-color: #C99900;
    width: 79px;
    height: 5px;
    display: block;
    position: absolute;
    transition: 1s;
    right: 0px;
}
.newz-and-storie-featured:hover a:after{
    width: 100%;
}
.featured-inbox h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 5px;
    margin-top: 110px;
    font-weight: 500;
}
.featured-inbox h2:after{
     content: '';
    background-color: #C99900;
    width: 148px;
    height: 5px;
    display: block;
    margin-top: 12px;
}
.inbox-style {
    text-align: center;
    margin-top: 72px;
}
.inbox-style .your-email input {
    width: 60%;
    height: 50px;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'FuturaLT';
    color: #818181;
    border: 1px solid #7070708c;
    box-shadow: none;
}
.featured-inbox .submit input {
    position: absolute;
    float: right;
    margin-left: -160px;
    margin-top: 13px;
    width: 151px;
    height: 50px;
    border-radius: 50px;
    padding: 7px 12px;
    font-size: 22px;
    font-family: 'FuturaLT';
    letter-spacing: 1px;
    background-color: #C19733;
    color: #FFFFFF;
    font-weight: normal;
    box-shadow: 0px 6px #00000029;
    border: 1px solid #818181;
}
.row .about-us {
    width: 49%;
    display: inline-block;
}
.row .contact-us {
    width: 49%;
    display: inline-block;
}
.contact-us a {
    float: right;
    font-size: 18px;
    font-family: 'FuturaLT';
    font-weight: 100;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: 101px;
    margin-top: 42px;
}
.row {
    background-color: #604B19;
    height: 125px;
}
.footer-section {
    background-color: #C19733;
    height: 300px;
}
.footer-last {
    background-color: #604B19;
}
.the-advocacy-team h2 {
    margin: 0px
}
.footer-last-text {
    height: 70px;   
}
.about-us h3:after{
    content: '';
    background-color: #C99900;
    width: 146px;
    height: 5px;
    display: block;
}
.about-us h3 {
    font-size: 22px;
    font-family: 'FuturaLT';
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 5px;
    margin-top: 3pc;
}
.contact-us a:after{
    content: '';
    width: 80px;
    height: 5px;
    display: block;
    background-color: #C99900;
    margin-left: auto;
}
.the-advocacy-team {
    width: 24%;
    display: inline-block;
    margin-top: 49px;
}
.the-advocacy-team h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 4px;
}
.the-advocacy-team p {
    font-size: 18px;
    font-family: 'FuturaLT';
    font-weight: 300;
    color: #FFFFFF;
    line-height: 25px;
    letter-spacing: 3px;
}
.useful-link {
    width: 22%;
    display: inline-block;
    margin-left: 85px;
}
.help {
  width: 22%;
  display: inline-block;  
}
.social-links {
    width: 22%;
  display: inline-block;
  margin-left: 24px; 
}
.the-advocacy-team h2:after{
    content: '';
    background-color: #604B19;
    width: 78px;
    height: 5px;
    display: block;
}
.useful-link h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    font-weight: 200;
    letter-spacing: 3px;
    color: #ffffff;
}
.useful-link ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'FuturaLT';
    font-weight: 200;
    letter-spacing: 3px;
    color: #ffffff;
}
.useful-link ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 35px;
}
.useful-link h2:after{
    content: '';
    background-color: #604B19;
    width: 62px;
    height: 5px;
    display: block;
}
.help h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    font-weight: 100;
    letter-spacing: 3px;
    color: #ffffff;
}
.help ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 49px;
    margin-top: 34px
}
.help ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'FuturaLT';
    font-weight: 200;
    letter-spacing: 5px;
    color: #ffffff;
}
.help h2:after {
    content: '';
    background-color: #604B19;
    width: 75px;
    height: 5px;
    display: block;
}
.social-links h2 {
    font-size: 22px;
    font-family: 'FuturaLT';
    font-weight: 200;
    color: #ffffff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 41px;
}
.social-links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.social-links ul li {
    padding: 13px;
    display: inline-block;
}
.social-links img {
    margin-bottom: 35px;
}
.social-links h2:after {
    content: '';
    background-color: #604B19;
    width: 60px;
    height: 5px;
    display: block;
}
.footer-last-text h2 {
    width: 55%;
    display: inline-block;
    font-size: 18px;
    font-family: 'FuturaLT';
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 25px;
}
.footer-last-text a {
    width: 30%;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'FuturaLT';
    color: #C99900;
    letter-spacing: 3px;
}
.home-footer-main {
    margin-top: 122px;
}
.our-client-para p span {
    text-transform: uppercase;
    color: #C99900;
    letter-spacing: 3px;
}